.global_cards_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
    padding: 2rem 0; 

    .cards_container {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        width: 20%;
        min-width: 300px;

        .card_wrapper{
            margin: 10px;

            &.totalCases {
                border-left: 10px solid var(--total_cases_color);
                border-right: 10px solid var(--total_cases_color);
            }

            &.deaths {
                border-left: 10px solid var(--deaths_color);
                border-right: 10px solid var(--deaths_color);
            }

            &.recovered {
                border-left: 10px solid var(--recovered_color);
                border-right: 10px solid var(--recovered_color);

                h2 {
                    color: var(--recovered_color);
                }
            }
        }
    }

    .pie_chart_div{
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cards_container{
            width: 60%;
        }

        .pie_chart_div {
            width: 70%;
            max-width: 70%;
        }
    }
}